REM the name of the development drive
set DEV_DRIVE=s:

REM the base directory of the development environment
set ROOT_PATH=c:\var\src\devenv

REM the home directory
set HOME=%DEV_DRIVE%\home

REM the temp directory (Most app is using this two variable to check the temp directory location.)
set TMP=%DEV_DRIVE%\tmp
set TEMP=%TMP%

set PATH=%DEV_DRIVE%/bin;%PATH%

REM set OPT_PATH=%DEV_PATH%\opt

REM Setup TDM-GCC
REM set TDM_VERSION=5.1.0-2
REM set TDM_ARCH=64
REM set COMPILER_PATH=%OPT_PATH%\tdm-gcc-%TDM_VERSION%-%TDM_ARCH%
REM set PATH=%COMPILER_PATH%\bin;%PATH%

REM setup git
REM set GIT_VERSION=2.6.2
REM set GIT_PATH=%OPT_PATH%\git-%GIT_VERSION%-64\
REM set PLINK_PROTOCOL=ssh
REM if not defined TERM set TERM=msys
REM set PATH=%GIT_PATH%\bin;%GIT_PATH%\mingw\bin;%GIT_PATH%\cmd;%PATH%

REM setup Python
REM set PYTHON_VERSION=3.5.0a1
REM set PYTHON_PATH=%OPT_PATH%\python-%PYTHON_VERSION%-64\
REM set PATH=%PYTHON_PATH%;%PATH%

REM Setup vim
REM set VIM_VERSION=7.4.898
REM set VIM_PATH=%OPT_PATH%\vim-%VIM_VERSION%-64\
REM set EDITOR=%VIM_PATH%vim.exe
REM set PATH=%VIM_PATH%;%PATH%

REM Setup browser
REM set CHROMIUM_VERSION=50.0.2633.3
REM set CHROMIUM_PATH=%OPT_PATH%\chromium-%CHROMIUM_VERSION%-64\
REM set BROWSER=%CHROMIUM_PATH%ChromiumPortable.exe